<input #fileInput (change)="onFileSelected($event)" style="display: none" type="file">

<button (click)="fileInput.click()" class="add-attachment" color="primary" mat-raised-button>
  <mat-icon>attach_file</mat-icon>
  <span>Add attachment</span>
</button>

<div *ngIf="files.length > 0" style="margin-top: 10px;">
  <strong>Select file:</strong>
  <mat-list>
    @for (file of files; track $index) {
      <mat-list-item>
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
          <span>{{ file.name }}</span>
          <button (click)="removeFile($index)" color="warn" mat-icon-button type="button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    }
  </mat-list>
</div>
