@if (revisions) {
  <table [dataSource]="data" mat-table matSort matSortActive="createdDate" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="selected">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Selected</th>
      <td *matCellDef="let element" mat-cell>
        <mat-checkbox (click)="changeSelected(element.id)" [checked]="element.id === this.selectedId"
                      [disabled]="false"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="resolver">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Resolver</th>
      <td *matCellDef="let element" mat-cell>{{ element.resolver }}</td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Create date</th>
      <td *matCellDef="let element" mat-cell>{{ element.createdDate | date:'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Total price</th>
      <td *matCellDef="let element" mat-cell>{{ element.totalPrice }}</td>
    </ng-container>

    <ng-container matColumnDef="paymentDate">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Payment date</th>
      <td *matCellDef="let element" mat-cell>{{ element.paymentDate | date:'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="isPreferredRevision">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Preferred</th>
      <td *matCellDef="let element" mat-cell>
        <mat-checkbox [checked]="element.isPreferredRevision" [disabled]="true"></mat-checkbox>
      </td>
    </ng-container>


    <ng-container matColumnDef="isCorrect">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Correct</th>
      <td *matCellDef="let element" mat-cell>
        <mat-checkbox [checked]="element.isCorrect" [disabled]="true"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> Actions</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="duplicateRevision(element.id)" color="primary" mat-icon-button title="Utwórz kopię">
          <mat-icon>content_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let _; columns: displayedColumns;" mat-row></tr>
  </table>
}
