<div class="toolbar">
  <h2>Product categories</h2>
</div>

<form class="add-form" (ngSubmit)="addCategory()">
  <mat-form-field class="category-field" subscriptSizing="dynamic">
    <mat-label>Category name</mat-label>
    <input
      matInput
      type="text"
      name="newCategoryName"
      [(ngModel)]="newCategoryName"/>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Add</button>
</form>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      @if (editingId === element.id) {
        <input
          matInput
          class="table-input"
          type="text"
          name="draftName-{{ element.id }}"
          [(ngModel)]="element.draftName"
          [ngClass]="{'table-input-editable': editingId === element.id}"/>
      } @else {
        {{ element.name }}
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element" class="actions">
      @if (editingId === element.id) {
        <button mat-stroked-button type="button" class="action-button" (click)="saveCategory(element)">
          Save
        </button>
        <button mat-stroked-button type="button" class="action-button" (click)="cancelEdit()">
          Cancel
        </button>
      } @else {
        <button mat-stroked-button type="button" class="action-button" (click)="startEdit(element)">
          Edit
        </button>
        <button mat-stroked-button type="button" class="action-button action-button-warn" color="warn" (click)="deleteCategory(element)">
          Delete
        </button>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
