<div class="content">
  <div class="form-container left-panel">
    <h1>Receipt data</h1>
    <mat-form-field>
      <mat-label>Receipt name</mat-label>
      <input [(ngModel)]="receiptDetails.name" [readonly]="true" matInput maxlength="30"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input [(ngModel)]="receiptDetails.description" [readonly]="true" matInput maxlength="30"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Created date</mat-label>
      <input [(ngModel)]="receiptDetails.createdDate" [matDatepicker]="picker" [readonly]="true" matInput>
      <mat-hint>MM-DD-YYYY</mat-hint>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Update date</mat-label>
      <input [(ngModel)]="receiptDetails.updateDate" [matDatepicker]="picker2" [readonly]="true" matInput>
      <mat-hint>MM-DD-YYYY</mat-hint>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <h2>Revisions</h2>

    <app-revision-list (selectedRevisionChange)="handleSelectedRevisionChange($event)" [receiptId]="receiptDetails.id"
                       [revisions]="receiptDetails.revisions"></app-revision-list>


    @if (this.receiptDetails.preferredRevision) {
      <h2>Revision details
        @if (this.editMode) {
          <mat-icon (click)="saveRevision()" class="icon" fontIcon="save"></mat-icon>
          <mat-icon (click)="declineEdit()" class="icon" fontIcon="cancel"></mat-icon>
        } @else {
          <mat-icon (click)="doEdit()" class="icon" fontIcon="edit"></mat-icon>
          <!--          TODO dodać strategy type i ukrywać przycisk dla != USER-->
          <mat-icon (click)="refreshAliases()" class="icon" fontIcon="refresh"
                    matTooltip="Update dicts"></mat-icon>
        }
      </h2>
    }


    <app-revision-details [(revision)]="receiptDetails.preferredRevision!!"
                          [contentEditable]="editMode"></app-revision-details>


  </div>
  <div class="right-panel">
    <app-pdf-viewer receiptFileId="{{this.receiptFileId}}"></app-pdf-viewer>
  </div>
</div>
