<div class="action-container">
  <a class="action-button" extended matFab routerLink="/wallets/new">
    <mat-icon color="orange">add_circle</mat-icon>
    Add wallet
  </a>
</div>

<table [dataSource]="dataSource" mat-table>
  <ng-container matColumnDef="position">
    <th *matHeaderCellDef mat-header-cell> No.</th>
    <td *matCellDef="let element" mat-cell> {{ element.position }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell> Name</th>
    <td *matCellDef="let element" mat-cell> {{ element.name }}</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr (click)="toReceipts(row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
