
table {
  width: 80%;
  min-width: unset;
  margin: 10px 10% 10px 10%;
  border-bottom: 1px;
  border-top: 1px;
  border-style: double;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.action-container {
  margin: 10px 10% 10px 10%;
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: space-around
}

.action-button {
  width: fit-content;
  margin: 10px;
  height: auto;
}