<div class="content">
  @if (revision()) {

    <mat-form-field>
      <mat-label>Brand name</mat-label>
      <input [(ngModel)]="revision().brand" [readonly]="!contentEditable" matInput maxlength="30"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Total price</mat-label>
      <input [(ngModel)]="revision().totalPrice" [readonly]="!contentEditable" matInput maxlength="30"/>
    @if (contentEditable && isTotalReceiptPriceInValid()) {
      <mat-icon class="error-icon" matTooltip="Calcaulation error">error</mat-icon>
    }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Created date</mat-label>
      <input [(ngModel)]="revision().payingDate" [matDatepicker]="picker" [readonly]="!contentEditable" matInput>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker [disabled]="!contentEditable"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input [(ngModel)]="revision().address" [readonly]="!contentEditable" matInput maxlength="30"/>
    </mat-form-field>

    <div class="revision-checkboxes-container">
      <mat-checkbox
        [(ngModel)]="revision().isPreferredRevision"
        [disabled]="!contentEditable">
        Preferred
      </mat-checkbox>

      <mat-checkbox
        [(ngModel)]="revision().isCorrect"
        [disabled]="!contentEditable">
        Correct
      </mat-checkbox>
    </div>


    <h3>Items</h3>

    <table (cdkDropListDropped)="drop($event)"
           [cdkDropListData]="data.data"
           [dataSource]="data"
           [matSortDisabled]="contentEditable"
           cdkDropList
           class="mat-elevation-z8"
           mat-table
           matSort>

      <ng-container matColumnDef="position">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> No.</th>
        <td *matCellDef="let element" mat-cell>
          <div style="display: flex; align-items: center;">
            @if (contentEditable) {
              <mat-icon
                cdkDragHandle
                style="cursor: grab; margin-right: 8px; color: grey;">
                drag_indicator
              </mat-icon>
            }

            <input [readonly]="true" [value]="element.position" class="table-input" matInput
                   style="width: 30px; text-align: center;">
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
        <td *matCellDef="let element" mat-cell>
          <input (keydown)="onKeyDown($event)" [(ngModel)]="element.name" [ngClass]="{'is-editing': contentEditable}"
                 [readonly]="!contentEditable" class="table-input">
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Amount</th>
        <td *matCellDef="let element" mat-cell>
          <input (keydown)="onKeyDown($event)" [(ngModel)]="element.amount" [ngClass]="{'is-editing': contentEditable}"
                 [readonly]="!contentEditable"
                 class="table-input" type="number"/>
        </td>
      </ng-container>

      <ng-container matColumnDef="unitPrice">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Unit Price</th>
        <td *matCellDef="let element" mat-cell>
          <input (keydown)="onKeyDown($event)" [(ngModel)]="element.unitPrice"
                 [ngClass]="{'is-editing': contentEditable}" [readonly]="!contentEditable"
                 class="table-input" type="number"/>
        </td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Total Price</th>
        <td *matCellDef="let element" mat-cell>
          <input (keydown)="onKeyDown($event)" [(ngModel)]="element.totalPrice"
                 [ngClass]="{'is-editing': contentEditable}" [readonly]="!contentEditable"
                 class="table-input" type="number"/>
        </td>
      </ng-container>

      <ng-container matColumnDef="discount">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Discount</th>
        <td *matCellDef="let element" mat-cell>
          <input (keydown)="onKeyDown($event)" [(ngModel)]="element.discount"
                 [ngClass]="{'is-editing': contentEditable}" [readonly]="!contentEditable"
                 class="table-input" type="number"/>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let element; let i = index" mat-cell>
            <div style="display: flex; gap: 5px; align-items: center;">
              <button (click)="addRowAfter(i)" color="primary" mat-icon-button>
                <mat-icon>add_circle</mat-icon>
              </button>
              <button (click)="removeRow(i)" color="warn" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
              @if (isItemInvalid(element)) {
                <mat-icon class="error-icon" matTooltip="Calcaulation error">error</mat-icon>
              }
            </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>

      <tr *matRowDef="let row; columns: displayedColumns;" [cdkDragData]="row"
          [cdkDragDisabled]="!contentEditable"
          cdkDrag
          mat-row>

        <div *cdkDragPlaceholder class="custom-placeholder"></div>
      </tr>
    </table>
  }

</div>
