.form-container {
  flex: 1
}

.table-input {
  border-style: none;
  background-color: var(--mat-sys-surface);
  font-size: var(--mat-sys-body-medium);
}

.table-input:focus, .table-input:active {
  background-color: var(--mat-sys-surface);
  font-size: var(--mat-sys-body-medium);
  outline: none;
}

.table-input {
  width: 100%;
  text-align: inherit;
  border-bottom-style: double;
  border-bottom-color: white;
}

.table-input-editable {
  border-bottom-color: black;
}

.mat-column-position,
{
  width: 100px;
}

.mat-column-amount {
  width: 120px;
  text-align: right;
}

.mat-column-unitPrice,
.mat-column-totalPrice {
  width: 140px;
  text-align: right;
}

.position-container {
  display: flex;
  align-items: center;
}

.drag-handle {
  cursor: grab;
  color: #757575;
  margin-right: 8px;

  &:active {
    cursor: grabbing;
  }
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: white;

  display: table;

  td {
    padding: 16px;
    border-bottom: none;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging tr:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.revision-checkboxes-container {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 16px 16px 18px 16px;
  background-color: #e0e2ec;
  border-radius: 4px 4px 0 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  width: 100%;
  box-sizing: border-box;
}


.revision-checkboxes-container:hover {
  background-color: #d0d2db;
}
